:root[data-theme='light'] {
  --background-color: #FFFFFF;
}

:root[data-theme='dark'] {
  --background-color: #090D1F;
}


body {
  background: var(--background-color);

  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

